* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	background-color: #495057;
	color: #fff;
	font: 400 6rem / normal Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

div {
	width: max-content;
	font-variant: all-small-caps;
	text-shadow: 5px 5px 1px #000;
	transition: text-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: text-shadow 0.15s; */
}

div:hover {
	text-shadow: 14px 14px 1px #000;
}